<!-- header -->
<header id="header" class="header d-flex align-items-center fixed-top">
  <div
    class="container-fluid container-xl position-relative d-flex align-items-center"
  >
    <a href="" class="d-flex align-items-center me-auto">
      <img src="assets/img/logo.png" alt="" />
    </a>

    <nav id="navmenu" class="navmenu" style="text-decoration: none">
      <ul>
        <li>
          <a href="#benefits" class="active">BENEFITS<br /></a>
        </li>
        <li><a href="#features">FEATURES</a></li>
        <li><a href="#pricing">PRICING</a></li>
        <li><a href="#resource">RESOURCE</a></li>
        <li><a href="#contact">CONTACT</a></li>
      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>
  </div>
</header>

<main class="main">
  <!-- Hero Section -->
  <section id="hero" class="hero section">
    <div class="container">
      <div class="row gy-4">
        <div
          class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center"
        >
          <h6 style="color: #da4e2c">
            Welcome to Property Management Software
          </h6>
          <h1>OPENNING DOORS TO NEW POSSIBILITIES</h1>
          <p style="font-size: 1rem">
            Helping business go online and grow bigger with high-tech web
            applications.
          </p>
          <div
            class="d-flex flex-column flex-md-row"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <a href="" class="btn-get-started">Start Trial</a>
            <a href="" class="btn btn-outline-secondary btn-get-started-2"
              >Demo</a
            >
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2">
          <img src="assets/img/hero-img.png" class="header-main-img" alt="" />
        </div>
      </div>

      <!-- arrow to indicate bottom -->
      <div class="arrow"></div>
    </div>
  </section>

  <div class="container my-5" id="benefits">
    <!-- Section Title -->
    <div class="section-title">
      <h2>YOUR BENEFITS</h2>
      <p>The Best Service We Offer To You</p>
    </div>
    <!-- Cards Section -->
    <div class="row g-4">
      <!-- Card 1 -->
      <div class="col-md-4 col-lg-3">
        <div class="benefit-card">
          <div class="row">
            <div class="col-md-3">
              <img src="./assets/img/benefits/powerful.png" alt="Icon 1" />
            </div>
            <div class="col-md-7">
              <h5>Powerful</h5>
            </div>
          </div>
          <p>
            Our custom dashboards, unlimited custom reports, and self-service
            owner portal provide the insights and visibility that are critical
            to monitor your business and impress owners and...
          </p>
        </div>
      </div>
      <!-- Card 2 -->
      <div class="col-md-4 col-lg-3">
        <div class="benefit-card">
          <div class="row">
            <div class="col-md-3">
              <img src="./assets/img/benefits/customizable.png" alt="Icon 1" />
            </div>
            <div class="col-md-7">
              <h5>Customizable</h5>
            </div>
          </div>

          <p>
            Our customization features are unmatched in the industry — allowing
            you to develop the unique workflows and automatic processes and
            enable superior service to property owners and...
          </p>
        </div>
      </div>
      <!-- Card 3 -->
      <div class="col-md-4 col-lg-3">
        <div class="benefit-card">
          <div class="row">
            <div class="col-md-3">
              <img src="./assets/img/benefits/open.png" alt="Icon 1" />
            </div>
            <div class="col-md-7">
              <h5>Open</h5>
            </div>
          </div>

          <p>
            Propertyware simplifies the management process with our open data
            access and two-way data exchange (Open API). Connect with software
            systems you choose so you can reduce and also...
          </p>
        </div>
      </div>
      <!-- Card 4 -->
      <div class="col-md-4 col-lg-3">
        <div class="benefit-card">
          <div class="row">
            <div class="col-md-3">
              <img src="./assets/img/benefits/scalable.png" alt="Icon 1" />
            </div>
            <div class="col-md-7">
              <h5>Scalable</h5>
            </div>
          </div>

          <p>
            Expand regionally with ease using the industry's ideal solution for
            multi-regional expansion and growth, allowing managers to monitor
            local operations and see holistic reporting with...
          </p>
        </div>
      </div>
      <!-- Card 5 -->
      <div class="col-md-4 col-lg-3">
        <div class="benefit-card">
          <div class="row">
            <div class="col-md-3">
              <img src="./assets/img/benefits/powerful.png" alt="Icon 1" />
            </div>
            <div class="col-md-7">
              <h5>Supported</h5>
            </div>
          </div>

          <p>
            Our custom dashboards, unlimited custom reports, and self-service
            owner portal provide the insights and visibility that are critical
            to monitor your business and impress owners and...
          </p>
        </div>
      </div>
      <!-- Card 6 -->
      <div class="col-md-4 col-lg-3">
        <div class="benefit-card">
          <div class="row">
            <div class="col-md-3">
              <img src="./assets/img/benefits/powerful.png" alt="Icon 1" />
            </div>
            <div class="col-md-7">
              <h5>Integrated</h5>
            </div>
          </div>

          <p>
            Our customization features are unmatched in the industry — allowing
            you to develop the unique workflows and automatic processes and
            enable superior service to property owners and...
          </p>
        </div>
      </div>
      <!-- Card 7 -->
      <div class="col-md-4 col-lg-3">
        <div class="benefit-card">
          <div class="row">
            <div class="col-md-3">
              <img src="./assets/img/benefits/powerful.png" alt="Icon 1" />
            </div>
            <div class="col-md-7">
              <h5>Automated</h5>
            </div>
          </div>

          <p>
            Propertyware simplifies the management process with our open data
            access and two-way data exchange (Open API). Connect with software
            systems you choose so you can reduce and also...
          </p>
        </div>
      </div>
      <!-- Card 8 -->
      <div class="col-md-4 col-lg-3">
        <div class="benefit-card">
          <div class="row">
            <div class="col-md-3">
              <img src="./assets/img/benefits/powerful.png" alt="Icon 1" />
            </div>
            <div class="col-md-7">
              <h5>Secure</h5>
            </div>
          </div>

          <p>
            Expand regionally with ease using the industry's ideal solution for
            multi-regional expansion and growth, allowing managers to monitor
            local operations and see holistic reporting with...
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>

  <!-- our features -->
  <div class="features" id="features">
    <div class="container">
      <div class="section-title">
        <h2 class="text-white">YOUR FEATURES</h2>
        <p class="text-white">The Best Service We Offer To You</p>
      </div>

      <div class="row g-4">
        <!-- row 1 -->
        <div class="col-md-6">
          <!-- box 1 -->
          <div class="col-md-12">
            <div class="feature-card">
              <h5>Tenant Screening</h5>
              <span class="feature-number">01</span>
              <p>
                From move-in to move-out and everything in-between, we offer a
                solution no one else has.
              </p>
              <button
                class="btn"
                style="
                  background-color: white;
                  color: black !important;
                  border-radius: 20px;
                  padding: 5px 15px;
                  float: right;
                "
              >
                Learn More
              </button>
            </div>
          </div>
          <!-- box 2 -->
          <div class="col-md-12">
            <div class="feature-card">
              <h5>Tenant Screening</h5>
              <span class="feature-number">03</span>
              <p>
                From move-in to move-out and everything in-between, we offer a
                solution no one else has.
              </p>
              <button
                class="btn"
                style="
                  background-color: white;
                  color: black !important;
                  border-radius: 20px;
                  padding: 5px 15px;
                  float: right;
                "
              >
                Learn More
              </button>
            </div>
          </div>
          <!-- box 3 -->
          <div class="col-md-12">
            <div class="feature-card">
              <h5>Tenant Screening</h5>
              <span class="feature-number">05</span>
              <p>
                From move-in to move-out and everything in-between, we offer a
                solution no one else has.
              </p>
              <button
                class="btn"
                style="
                  background-color: white;
                  color: black !important;
                  border-radius: 20px;
                  padding: 5px 15px;
                  float: right;
                "
              >
                Learn More
              </button>
            </div>
          </div>
        </div>

        <!-- row 2 -->
        <div class="col-md-6">
          <!-- box 4 -->
          <div class="col-md-12">
            <div class="feature-card">
              <h5>Tenant Screening</h5>
              <span class="feature-number">02</span>
              <p>
                From move-in to move-out and everything in-between, we offer a
                solution no one else has.
              </p>
              <button
                class="btn"
                style="
                  background-color: white;
                  color: black !important;
                  border-radius: 20px;
                  padding: 5px 15px;
                  float: right;
                "
              >
                Learn More
              </button>
            </div>
          </div>
          <!-- box 5 -->
          <div class="col-md-12">
            <div class="feature-card">
              <h5>Tenant Screening</h5>
              <span class="feature-number">04</span>
              <p>
                From move-in to move-out and everything in-between, we offer a
                solution no one else has.
              </p>
              <button
                class="btn"
                style="
                  background-color: white;
                  color: black !important;
                  border-radius: 20px;
                  padding: 5px 15px;
                  float: right;
                "
              >
                Learn More
              </button>
            </div>
          </div>
          <!-- box 6 -->
          <div class="col-md-12">
            <div class="feature-card">
              <h5>Tenant Screening</h5>
              <span class="feature-number">06</span>
              <p>
                From move-in to move-out and everything in-between, we offer a
                solution no one else has.
              </p>
              <button
                class="btn"
                style="
                  background-color: white;
                  color: black !important;
                  border-radius: 20px;
                  padding: 5px 15px;
                  float: right;
                "
              >
                Learn More
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- pricing table -->
  <div class="container text-center mt-5 mb-5" id="pricing">
    <h2>CHOOSE YOUR PLAN</h2>
    <p>14 Days Unlimited Free Trial. No Contract Or Credit Card Required.</p>

    <!-- Pricing Cards -->
    <div class="row justify-content-center mt-5">
      <!-- Starter Plan -->
      <div class="col-lg-3 col-md-6 d-flex">
        <div class="pricing-card flex-fill">
          <h4>Starter</h4>
          <h2>$29 <small style="font-size: 1rem; color: grey">/ MO</small></h2>
          <ul class="list-unstyled">
            <li>
              <i class="fa fa-check" aria-hidden="true"></i> Bandwidth 50 GB
            </li>
            <li>
              <i class="fa fa-check" aria-hidden="true"></i> Add-On Domains 10
            </li>
            <li>
              <i class="fa fa-check" aria-hidden="true"></i> SSD Storage 250 GB
            </li>
            <li>
              <i class="fa fa-check" aria-hidden="true"></i> Mail Addresses 25
            </li>
            <li>
              <i class="fa fa-check" aria-hidden="true"></i> SupportOnly Mail
            </li>
            <li>
              <i class="fa fa-check" aria-hidden="true"></i> 10,000 Visitors
            </li>
          </ul>
          <button class="btn btn-primary">GET STARTED</button>
        </div>
      </div>

      <!-- Most Popular Plan -->
      <div class="col-lg-3 col-md-5 d-flex">
        <div class="pricing-card most-popular flex-fill">
          <h5 class="text-white">Most Popular</h5>
          <h2 class="text-white">
            $45 <small style="font-size: 1rem">/ MO</small>
          </h2>
          <ul class="list-unstyled">
            <li>
              <i class="fa fa-check" aria-hidden="true"></i> Bandwidth 50 GB
            </li>
            <li>
              <i class="fa fa-check" aria-hidden="true"></i> Add-On Domains 10
            </li>
            <li>
              <i class="fa fa-check" aria-hidden="true"></i> SSD Storage 250 GB
            </li>
            <li>
              <i class="fa fa-check" aria-hidden="true"></i> Mail Addresses 25
            </li>
            <li>
              <i class="fa fa-check" aria-hidden="true"></i> SupportOnly Mail
            </li>
            <li>
              <i class="fa fa-check" aria-hidden="true"></i> 10,000 Visitors
            </li>
          </ul>
          <button class="btn btn-warning">GET STARTED</button>
        </div>
      </div>

      <!-- Enterprise Plan -->
      <div class="col-lg-3 col-md-6 d-flex">
        <div class="pricing-card flex-fill">
          <h4>Enterprise</h4>
          <h2>Custom</h2>
          <ul class="list-unstyled">
            <li>
              <i class="fa fa-check" aria-hidden="true"></i> Bandwidth 50 GB
            </li>
            <li>
              <i class="fa fa-check" aria-hidden="true"></i> Add-On Domains 10
            </li>
            <li>
              <i class="fa fa-check" aria-hidden="true"></i> SSD Storage 250 GB
            </li>
            <li>
              <i class="fa fa-check" aria-hidden="true"></i> Mail Addresses 25
            </li>
            <li>
              <i class="fa fa-check" aria-hidden="true"></i> SupportOnly Mail
            </li>
            <li>
              <i class="fa fa-check" aria-hidden="true"></i> 10,000 Visitors
            </li>
          </ul>
          <button class="btn btn-outline-primary">CONTACT US</button>
        </div>
      </div>
    </div>
  </div>

  <!-- client logo thumbnail -->
  <div class="container text-center mt-4" id="resource">
    <div class="logo-container">
      <div class="logo-box">
        <img src="./assets/img/clients/logo-1.png" alt="Logo 1" />
      </div>
      <div class="logo-box">
        <img src="./assets/img/clients/logo-2.png" alt="Logo 2" />
      </div>
      <div class="logo-box">
        <img src="./assets/img/clients/logo-3.png" alt="Logo 3" />
      </div>
      <div class="logo-box">
        <img src="./assets/img/clients/logo-4.png" alt="Logo 4" />
      </div>
      <div class="logo-box">
        <img src="./assets/img/clients/logo-5.png" alt="Logo 5" />
      </div>
      <div class="logo-box">
        <img src="./assets/img/clients/logo-6.png" alt="Logo 6" />
      </div>
    </div>
  </div>

  <!-- contact form -->
  <div class="container mt-5 mb-5" id="contact">
    <h2 class="text-center">LET's TALK</h2>
    <p class="text-center">
      14 Days Unlimited Free Trial. No Contract Or Credit Card Required.
    </p>

    <div class="formbold-main-wrapper">
      <div class="formbold-form-wrapper">
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
          <!-- Name -->
          <div class="flex flex-wrap formbold--mx-3">
            <div class="w-full sm:w-half formbold-px-3">
              <div class="formbold-mb-5">
                <div class="label-and-input">
                  <input
                    type="text"
                    formControlName="agencyName"
                    id="agencyName"
                    class="formbold-form-input"
                  />
                  <label
                    for="agencyName"
                    class="formbold-form-label input-name-label"
                    [ngClass]="{
                      'label-up': contactForm.get('agencyName')?.value
                    }"
                    >Agency Name</label
                  >
                </div>
                <div
                  *ngIf="
                    contactForm.controls['agencyName'].invalid &&
                    contactForm.controls['agencyName'].touched
                  "
                >
                  <small class="text-danger">Agency Name is required</small>
                </div>
              </div>
            </div>
            <div class="w-full sm:w-half formbold-px-3">
              <div class="formbold-mb-5">
                <div class="label-and-input">
                  <input
                    type="text"
                    formControlName="name"
                    id="name"
                    class="formbold-form-input"
                  />
                  <label
                    for="name"
                    class="formbold-form-label input-name-label"
                    [ngClass]="{
                      'label-up': contactForm.get('name')?.value
                    }"
                    >Name</label
                  >
                </div>
                <div
                  *ngIf="
                    contactForm.controls['name'].invalid &&
                    contactForm.controls['name'].touched
                  "
                >
                  <small class="text-danger">Name is required</small>
                </div>
              </div>
            </div>
          </div>

          <!-- Phone & Email -->
          <div class="flex flex-wrap formbold--mx-3">
            <div class="w-full sm:w-half formbold-px-3">
              <div class="formbold-mb-5">
                <div class="label-and-input">
                  <input
                    type="tel"
                    formControlName="phone"
                    id="phone"
                    class="formbold-form-input"
                  />
                  <label
                    for="phone"
                    class="formbold-form-label input-name-label"
                    [ngClass]="{
                      'label-up': contactForm.get('phone')?.value
                    }"
                    >Phone</label
                  >
                </div>
                <div
                  *ngIf="
                    contactForm.controls['phone'].invalid &&
                    contactForm.controls['phone'].touched
                  "
                >
                  <small class="text-danger">Enter a valid phone number</small>
                </div>
              </div>
            </div>
            <div class="w-full sm:w-half formbold-px-3">
              <div class="formbold-mb-5">
                <div class="label-and-input">
                  <input
                    type="email"
                    formControlName="email"
                    id="email"
                    class="formbold-form-input"
                  />
                  <label
                    for="email"
                    class="formbold-form-label input-name-label"
                    [ngClass]="{
                      'label-up': contactForm.get('email')?.value
                    }"
                    >Email</label
                  >
                </div>
                <div
                  *ngIf="
                    contactForm.controls['email'].invalid &&
                    contactForm.controls['email'].touched
                  "
                >
                  <small class="text-danger">Enter a valid email</small>
                </div>
              </div>
            </div>
          </div>

          <!-- Address -->
          <div class="form-group mt-2 mb-2">
            <div class="label-and-input">
              <input
                formControlName="address"
                id="address"
                class="formbold-form-input"
              />
              <label
                for="address"
                class="formbold-form-label input-name-label"
                [ngClass]="{
                  'label-up': contactForm.get('address')?.value
                }"
                >Address</label
              >
            </div>
            <div
              *ngIf="
                contactForm.controls['address'].invalid &&
                contactForm.controls['address'].touched
              "
            >
              <small class="text-danger">Address is required</small>
            </div>
          </div>

          <!-- Message -->
          <div class="form-group mt-4 mb-2">
            <div class="label-and-input mt-2">
              <textarea
                formControlName="message"
                id="message"
                class="formbold-form-input message w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
                rows="4"
              ></textarea>
              <label
                for="message"
                class="formbold-form-label input-name-label message-label"
                [ngClass]="{
                  'label-up': contactForm.get('message')?.value
                }"
                >Message</label
              >
            </div>
            <div
              *ngIf="
                contactForm.controls['message'].invalid &&
                contactForm.controls['message'].touched
              "
            >
              <small class="text-danger">Message is required</small>
            </div>
          </div>

          <!-- Talking about -->
          <div class="form-group mb-2 form-center topic">
            <label class="formbold-form-label input-name-label"
              >Talking about -</label
            >
            <div class="form-check-group container-radio">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  id="trial"
                  formControlName="topic"
                  [value]="false"
                />
                <label class="form-check-label" for="trial">Trial</label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  id="purchase"
                  formControlName="topic"
                  [value]="true"
                />
                <label class="form-check-label" for="purchase">Purchase</label>
              </div>
            </div>
            <div
              *ngIf="
                contactForm.controls['topic'].invalid &&
                contactForm.controls['topic'].touched
              "
            >
              <small class="text-danger">Please select an option</small>
            </div>
          </div>

          <!-- Google reCAPTCHA -->
          <div class="form-group mb-2 text-center captcha">
            <re-captcha
              [siteKey]="reCaptchaKey"
              (resolved)="onCaptchaResolved($event)"
            >
            </re-captcha>
            <div
              *ngIf="
                !captchaResponse && contactForm.controls['recaptcha'].touched
              "
            >
              <small class="text-danger">Please solve the captcha</small>
            </div>
          </div>

          <!-- Submit -->
          <div>
            <button type="submit" class="btn-sm formbold-btn">
              <span
                *ngIf="loading"
                class="spinner-border spinner-border-sm"
              ></span>
              {{ loading ? "Submitting..." : "SEND REQUEST" }}
            </button>
          </div>
        </form>

        <div
          *ngIf="submissionStatus"
          class="alert alert-success form-group mb-2 text-center"
        >
          <p>{{ submissionStatus }}</p>
        </div>
        <div
          *ngIf="errorMessage"
          class="alert alert-danger form-group mb-2 text-center"
        >
          {{ errorMessage }}
        </div>
      </div>
    </div>
  </div>

  <!-- newsletter form -->
  <div class="newsletter-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="newsletter-right">
            <h3>Subscribe to our newsletter</h3>
            <p>
              Get notifications about tips, new products, and exclusive promo
              news just for you.
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <form class="d-flex newsletter-input">
            <input
              type="email"
              class="form-control"
              placeholder="Enter your email address"
              style="border-radius: 0px"
            />
            <button type="submit" class="btn btn-light">Subscribe</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- footer section -->
  <footer class="footer-section">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="widget company-intro-widget">
              <a href="" class="site-logo"
                ><img
                  src="./assets/img/footer-logo.png"
                  alt="logo"
                  class="footer-logo"
              /></a>

              <br />

              <h5 class="text-white">Our Office</h5>
              <p>F#1B H#68/A, R#05, BANANI DOHS, DHAKA</p>

              <br />

              <p>Mail:</p>
              <p>Call us: +(88) 01713-288611</p>
            </div>
          </div>
          <!-- widget end -->
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="widget course-links-widget">
              <h5 class="widget-title">SERVICES</h5>

              <p>Digital Marketing Services</p>
              <p>SEO Services</p>
              <p>PPC Management</p>
              <p>Web Design Services</p>
              <p>Social Media Services</p>
              <p>Digital Advertising Services</p>
              <p>Content Marketing Services</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="widget latest-news-widget">
              <h5 class="widget-title">KNOWLEDGE BASE</h5>

              <p>SEO Agency</p>
              <p>PPC Agency</p>
              <p>Cpntent Marketing Agency</p>
              <p>Digital Marketing Agency</p>
              <p>Internet Marketing Agency</p>
              <p>Industries We Serve</p>
            </div>
          </div>
          <!-- widget end -->
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="widget newsletter-widget">
              <h5 class="widget-title">SOCIAL MEDIA</h5>
              <div class="footer-newsletter">
                <p>Find Us on Social Media -</p>
                <div class="d-flex footer-social-icon">
                  <i class="fa fa-facebook"></i>
                  <i class="fa fa-instagram"></i>
                  <i class="fa fa-twitter"></i>
                  <i class="fa fa-youtube"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6 text-sm-left" style="margin-top: 5px">
            <span class="copy-right-text"
              >© 2025 Blessing. All Rights Reserved.</span
            >
          </div>
          <div class="col-md-6 col-sm-6" style="margin-top: 5px">
            <ul
              class="terms-privacy d-flex justify-content-sm-end justify-content-center"
              style="list-style: none"
            >
              <li><a href="#">Privacy</a></li>
              <li><a href="#">Security</a></li>
              <li><a href="#">Terms</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- Scroll Top -->
  <a
    href="#"
    id="scroll-top"
    class="scroll-top d-flex align-items-center justify-content-center"
    ><i class="bi bi-arrow-up-short"></i
  ></a>
</main>
